* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 12px;
}

nav, section, footer {
	display: block;
}

.startDutyDialog {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin: 5px;
}

.startDutyDialog div {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 280px;
	margin-left: -140px;
	text-align: center;
}

#layoutBody {
	margin: 5px;

	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#header {
	margin: 5px;
	padding: 3px;

	border-width: 1px;
	border-style: solid;
	border-color: #CC0000;
}

.lastDutyInfo {
	float: left;

}

.activeDutyInfo {
	float: right;
}

#navigationPanel {
	float: left;
	min-width: 200px;
	margin: 0px 5px 5px 5px;

	border-width: 1px;
	border-style: solid;
	border-color: #00CC00;
}

#navigation {
	margin: 5px;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#navigation .menuItem {
	padding: 3px 3px;
}

#frameContainer {
	float: left;
	margin: 0px 5px 5px 0px;
	padding: 5px;

	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#footer {
	clear: both;
}

.dataGrid table {
	width: 700px;
	border-collapse:collapse;
}

.dataGrid table, th, td  {
	border: 1px solid black;
}

.dataGrid td {
	padding: 5px;
}

.dataGrid .paggingTools {
	padding: 5px 0px;
}

.dataGrid .paggingTools div {
	display: inline;
	margin-right: 10px;
}

.dataGrid .paggingTools input[type="text"] {
	width: 25px;
}

#notifications {
	position: fixed;
	left: 50%;
	top: 0;
	width: 400px;
	margin-left: -200px;
	border: 1px solid gray;
	background-color: #EEEEEE;
	padding: 3px;
}

#notifications .progress {
	border: 1px solid gray;
	background-color: #FFFFFF;
	margin: 5px;
	padding: 3px;
}

#notifications .progressTime {
	color: #AAAAAA;
	font-style: italic;
}

#notifications .preloader {
	float: right;
	background: url('../img/preloader.gif') no-repeat;
	width: 24px;
	height: 24px;
}

#notifications .error {
	border: 1px solid gray;
	background-color: #F7BAA6;
	margin: 5px;
	padding: 3px;
}

#notifications .success {
	border: 1px solid gray;
	background-color: #EEFAC7;
	margin: 5px;
	padding: 3px;
}

#notifications .showDetailsButton {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#notifications .messageContainer {
	float: left;
	width: 350px;
}

#notifications .closeButton {
	float: right;
	background: url('../img/closeIcon.png') no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.clearBoth {
	clear: both;
	height: 0px;
}

#popup {
	position: fixed;
	top: 0px;
	left: 0px;
}

#popup .tint {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000000;
	opacity: 0.5;
}

.dialogBody {
	border: 1px solid gray;
	background-color: #FFFFFF;
	padding: 3px;
	position: absolute;
}

.dialogBody .title {
	background-color: #EEEEEE;
	margin: 1px;
	font-weight: bold;
	padding: 2px;
}

.dialogBody .message {
	margin: 4px 2px;
}

.dialogBody .buttons {
	text-align: center;
	margin-bottom: 2px;
}

.dialogBody .buttons button {
	margin-right: 3px;
	padding: 0px 4px;
	cursor: pointer;
}
