* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 12px;
}

nav, section, footer {
	display: block;
}

.startDutyDialog {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin: 5px;
}

.startDutyDialog div {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 280px;
	margin-left: -140px;
	text-align: center;
}

#layoutBody {
	margin: 5px;

	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#header {
	margin: 5px;
	padding: 3px;

	border-width: 1px;
	border-style: solid;
	border-color: #CC0000;
}

.lastDutyInfo {
	float: left;

}

.activeDutyInfo {
	float: right;
}

#navigationPanel {
	float: left;
	min-width: 200px;
	margin: 0px 5px 5px 5px;

	border-width: 1px;
	border-style: solid;
	border-color: #00CC00;
}

#navigation {
	margin: 5px;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#navigation .menuItem {
	padding: 3px 3px;
}

#frameContainer {
	overflow: hidden;
	margin: 0px 5px 5px 0px;
	padding: 5px;

	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#footer {
	clear: both;
}

.dataGrid table {
	width: 100%;
	border-collapse:collapse;
}

.dataGrid table, th, td  {
	border: 1px solid black;
	vertical-align: middle;
}

.dataGrid td {
	padding: 5px;
}

.dataGrid tr.gridRow {
	cursor: pointer;
}

.dataGrid tr.altColor1 {
	background-color: #F5F5F5;
}

.dataGrid tr.altColor2 {
	background-color: #FFFFFF;
}

.dataGrid tr.overColor {
	background-color: #DDF5DD;
}

.dataGrid tr.selectedColor {
	background-color: #DDDDF5;
}

.activeDutyGridRow {
	background-color: #E4D4FF;
}

.paginator {
	padding: 5px 0px;
}

.paginator div {
	display: inline;
	margin-right: 10px;
}

.paginator input[type="text"] {
	width: 25px;
}

.columnContainer {

}

.columnTitle {
	float: left;
	font-weight: bold;
}

.columnSort {
	float: right;
}

.sortAscOn, .sortAscOff, .sortDescOn, .sortDescOff {
	cursor: pointer;
	width: 13px;
	height: 9px;
}

.sortAscOn {
	background-image: url('../img/sort-asc-on.png');
}

.sortAscOff {
	background-image: url('../img/sort-asc-off.png');
}

.sortDescOn {
	background-image: url('../img/sort-desc-on.png');
}

.sortDescOff {
	background-image: url('../img/sort-desc-off.png');
}

.emptyCell {
	text-align: center;
}

.removeCell {
	width: 17px;
	height: 17px;
	background-image: url('../img/remove.gif');
	cursor: pointer;
}

.editCell {
	width: 17px;
	height: 17px;
	background-image: url('../img/edit.gif');
	cursor: pointer;
}

#notifications {
	position: fixed;
	left: 50%;
	top: 0;
	width: 400px;
	margin-left: -200px;
	border: 1px solid gray;
	background-color: #EEEEEE;
	padding: 3px;
}

#notifications .progress {
	border: 1px solid gray;
	background-color: #FFFFFF;
	margin: 5px;
	padding: 3px;
}

#notifications .progressTime {
	color: #AAAAAA;
	font-style: italic;
}

#notifications .preloader {
	float: right;
	background: url('../img/preloader.gif') no-repeat;
	width: 24px;
	height: 24px;
}

#notifications .error {
	border: 1px solid gray;
	background-color: #F7BAA6;
	margin: 5px;
	padding: 3px;
}

#notifications .success {
	border: 1px solid gray;
	background-color: #EEFAC7;
	margin: 5px;
	padding: 3px;
}

#notifications .showDetailsButton {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#notifications .messageContainer {
	float: left;
	width: 350px;
}

#notifications .closeButton {
	float: right;
	background: url('../img/closeIcon.png') no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.clearBoth {
	clear: both;
	height: 0px;
}

#popup {
	position: fixed;
	top: 0px;
	left: 0px;
}

#popup .tint {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000000;
	opacity: 0.3;
}

.blur {
	/*
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
	*/
}

.windowBody {
	border: 1px solid gray;
	background-color: #FFFFFF;
	padding: 3px;
	position: absolute;
}

.windowBody .title {
	background-color: #EEEEEE;
	margin: 1px;
	font-weight: bold;
	padding: 2px;
}

.windowBody .buttons {
	text-align: center;
	margin-bottom: 2px;
}

.windowBody .buttons button {
	margin-right: 3px;
	padding: 0px 4px;
	cursor: pointer;
}

.windowContainer {
	padding: 7px;
}

.formItemVLayout {
	display: block;
	margin-bottom: 5px;
}

.formItemHLayout {
	display: inline-block;
	margin-right: 5px;
}

.fieldLabel {
	display: inline-block;
	text-align: right;
	margin-right: 3px;
}

.required {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	background: url('../img/required.png') no-repeat;
}

.dutyListFrame {

}

.moduleHeader {
	margin-bottom: 10px;
	font-weight: bold;
}
